<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <h2>Samples</h2>
    <ul>
      {{#each samples}}
        <li>ID:
          {{id}}, Reprocess Count:
          {{reprocessCount}}, Barcode:
          {{barcode}}</li>
      {{/each}}
    </ul>
  </body>
</html>